@import url("https://fonts.googleapis.com/css2?family=Lato&family=Lora&display=swap");

$background-color-light: #ecd69f;
$text-color-light: #2c2020;
$background-color-dark: #182830;
$text-color-dark: #dcd939;
$button-background-color-light: #333333;
$button-text-color-light: #a8b2d1;
$button-hover-color-light: #2d2f33;
$button-background-color-dark: #001524;
$button-text-color-dark: #ffffff;
$link-text-color-light: #221a02;
$link-text-color-dark: #98ff98;
$footer-text-color-light: #221a02;
$footer-text-color-dark: #98ff98;

body {
  background-color: $background-color-light;
  color: $text-color-light;
  margin: 2rem;
  font-size: 2rem;
  font-family: "Lora", serif;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Lato", serif;
  text-align: center;
  font-size: 5rem;
  margin: 4rem;
}

.theme-toggle-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  background-color: $button-background-color-light;
  color: $button-text-color-light;

  &:hover {
    background-color: $button-hover-color-light;
  }
}

.link-text {
  color: $link-text-color-light;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  pointer-events: none;
}

.social-icons {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
  pointer-events: all;
}

.pointer {
  pointer-events: all;
}

.socials {
  display: flex;
  flex-direction: column;
  height: 65vh;
}

.footer {
  font-size: 1rem;
  align-self: flex-end;
  position: static;
}

.footer-text {
  color: $footer-text-color-light;
  pointer-events: all;
}

@keyframes buttonClickAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.theme-toggle-btn.clicked {
  animation: buttonClickAnimation 0.5s;
}

body.dark-mode {
  background-color: $background-color-dark;
  color: $text-color-dark;

  .theme-toggle-btn {
    background-color: $button-background-color-dark;
    color: $button-text-color-dark;
  }

  .link-text {
    color: $link-text-color-dark;
  }

  .footer-text {
    color: $footer-text-color-dark;
  }
}
